/* .ag-sparkline-tooltip-title {
    display: block;
    font-weight: bold;
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 8px;
  }
  
  .ag-sparkline-tooltip-content {
    display: block;
    padding: 8px;
  }
  .custom-tooltip {
    padding: 5px;
    color: var(--ag-foreground-color);
    background-color: #5577CC;
} */



