.mySimpleEditor {
    width: 18rem;
    height: 12rem;
    font-family: 'IBM Plex Sans', sans-serif; 
    box-sizing: border-box;
    outline: none;
    padding:6px;
    border-radius: 4px;
    border: 2px solid #2196f3;
    background-color: white;
    resize: vertical;
    scrollbar-width: none;
}